# Hexo 配置
## 文档: https://hexo.io/docs/configuration.html
## 源码: https://github.com/hexojs/hexo/

# 站点
title: cwdp.sky # 网站标题
subtitle: wp # 网站副标题
description: note # 网站描述
keywords: # 网站关键词
author: cwdp.sky # 作者名称
language: zh-CN # 网站语言
timezone: 'Asia/Shanghai' # 网站时区


# URL
## 在此设置您的站点 URL。例如，如果您使用 GitHub Page，请将 URL 设置为 'https://username.github.io/project'
url: http://2819461143wp.github.io # 网站 URL
permalink: /:title/ # 文章永久链接格式
permalink_defaults: # 永久链接默认值
pretty_urls: # 美化 URL 设置
  trailing_index: true # 设置为 false 以从永久链接中移除尾随的 'index.html'
  trailing_html: true # 设置为 false 以从永久链接中移除尾随的 '.html'

# 目录
source_dir: source # 源文件目录
public_dir: public # 生成的静态文件目录
tag_dir: tags # 标签目录
archive_dir: archives # 归档目录
category_dir: categories # 分类目录
code_dir: downloads/code # 代码目录
i18n_dir: :lang # 国际化目录
skip_render: # 跳过渲染的文件

# 写作
new_post_name: :title.md # 新文章的文件名格式
default_layout: post # 默认布局
titlecase: false # 将标题转换为标题大小写
external_link: # 外部链接设置
  enable: true # 在新标签页中打开外部链接
  field: site # 应用于整个站点
  exclude: '' # 排除的链接
filename_case: 0 # 文件名大小写，0 表示不变，1 表示小写，2 表示大写
render_drafts: false # 是否渲染草稿文章，false 表示不渲染
post_asset_folder: true # 是否为每篇文章创建单独的资源文件夹，true 表示创建
relative_link: false # 是否使用相对链接，false 表示使用绝对链接
future: true # 是否显示未来的文章，true 表示显示
syntax_highlighter: highlight.js # 语法高亮工具，默认使用 highlight.js

highlight: # highlight.js 配置
  line_number: true # 是否显示行号，true 表示显示
  auto_detect: false # 是否自动检测语言，false 表示不检测
  tab_replace: '' # 替换制表符的字符串，默认为空
  wrap: true # 是否自动换行，true 表示自动换行
  hljs: false # 是否使用 hljs 样式，false 表示不使用

prismjs: # PrismJS 配置
  preprocess: true # 是否预处理代码，true 表示预处理
  line_number: true # 是否显示行号，true 表示显示
  tab_replace: '' # 替换制表符的字符串，默认为空

# 首页设置
# path: 博客首页的根路径。（默认 = ''）
# per_page: 每页显示的文章数。（0 = 禁用分页）
# order_by: 文章排序。（默认按日期降序排列）
index_generator:
  path: '' # 博客首页的根路径，默认为空
  per_page: 10 # 每页显示的文章数，默认 10 篇
  order_by: -date # 文章排序，默认按日期降序排列

# 分类和标签
default_category: uncategorized # 默认分类名称
category_map: # 分类名称映射
tag_map: # 标签名称映射

# 元数据元素
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true # 是否生成 meta 标签，true 表示生成

# 日期/时间格式
## Hexo 使用 Moment.js 来解析和显示日期
## 您可以自定义日期格式，定义方式参见
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD # 日期格式，默认 YYYY-MM-DD
time_format: HH:mm:ss # 时间格式，默认 HH:mm:ss
## updated_option 支持 'mtime', 'date', 'empty'
updated_option: 'mtime' # 更新选项，支持 'mtime'（文件修改时间）、'date'（文章日期）、'empty'（不显示更新日期）

# 分页
## 设置 per_page 为 0 以禁用分页
per_page: 10 # 每页显示的文章数，设置为 0 表示禁用分页
pagination_dir: page # 分页目录，分页 URL 的前缀

# 包含/排除文件
## include:/exclude: 选项仅适用于 'source/' 文件夹
include: # 包含的文件或目录
exclude: # 排除的文件或目录
ignore: # 忽略的文件或目录

# 扩展
## 插件: https://hexo.io/plugins/
## 主题: https://hexo.io/themes/
theme: fluid # 使用的主题名称

# 部署
## 文档: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: https://github.com/2819461143wp/2819461143wp.github.io
  # example, https://github.com/hexojs/hexojs.github.io
  branch: gh-pages